* {
  background-color: rgba(0, 255, 0, 0.3);
}

#headings {
  color: rgb(255, 0, 255);
  text-align: center;
  left: 550px;
  text-decoration: underline;
	position: sticky; /*this makes the heading stick to the screen when used scrolled down bar. It should be accompanied by atleas one of top,bottom,left,right*/
	top: 0;
	border: 3px solid #73AD21;
}

.pagestyle {
  font-family: cursive;
  color: blue;
  font-size: 15px;
  font-weight: bold;
  border: 3px solid #73AD21;
}

.paragraphs {
  font-family: Helvetica;
  font-size: 14px;
  font-style: oblique;
  color: rgb(0, 0, 128);
}

.unorderedlist {
  font-style: italic;
}

a {
  color: rgba(128, 0, 128);
}

form {
  background-color: rgb(255, 255, 0);
}

input[type=text] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}

input[type="button"]{
    background-color:rgb(201, 76, 76);
    color: #fff;
    border-radius: 10px;
}

/*img display is set to block and margin auto will center the image*/
img {
  width: 10%;
  display: block;
  margin: auto;
	border-radius: 10px;
}

/*The element is positioned relative to its normal position, so "left:450px" adds 450 pixels to the element's LEFT position*/
.navposition{
	font-family: fantasy;
	position: relative;
	left:450px;
}
