
.container {
display: grid;
grid-template-columns: repeat (3, 1fr);
grid-template-rows: 30% 200px auto;
grid-gap: 1em;
}

.container > * {
display: flex;
align-items: center;
justify-content: center;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
background: lightgray;
padding: 1em;
}

header, footer {
grid-column: 1 / 4;
}

article {
min-width: 15em;
}

.img{
  width:100px;
  height:100px;
}
